<p id="notice"><%= notice %></p>

<h1>Zutaten / Einkaufsliste</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mengeneinheit</th>
      <th>Menge pro Gericht/Tag</th>
      <th>Menge pro Woche</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.title %></td>
        <td><%= ingredient.unit %></td>
        <td><%= ingredient.total_amount_per_meal %></td>
        <td><strong><%= ingredient.total_count %></strong></td>
        <td><%= link_to 'Bearbeiten', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Löschen', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Zutat', new_ingredient_path, class: "btn btn-primary" %>
