<p id="notice"><%= notice %></p>

<%= form_tag( '/ingredients', method: :get) do |f| %>
  <div class="row">
    <div class="form-group col-8">
      <%= select_tag :location, options_for_select(@used_locations), include_blank: "Alle", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group col-4">
      <%= submit_tag "filtern", class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
<% end %>

<div class="table d-none d-sm-block">
  <h1>Zutaten / Einkaufsliste</h1>
</div>


<table class="table d-none d-sm-block">
  <thead>
    <tr>
      <th>Name</th>
      <th>Menge pro Gericht/Tag</th>
      <th>Stückpreis</th>
      <th>Menge pro Woche</th>
      <th>Einkaufsmengen</th>
      <th>Preis</th>
      <th colspan="2"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr class="<%= ingredient.added_to_cart ? 'on-shopping-list' : '' %>">
        <td><%= ingredient.title %> (<%= ingredient.brand_name.presence %>)</td>
        <td><%= ingredient.total_amount_per_meal %> <%= ingredient.unit %></td>
        <td><strong><%= ingredient.price_per_package %></strong></td>
        <td><strong><%= ingredient.total_count %> <%= ingredient.unit %></strong></td>
        <td><strong><%= ingredient.package_count %> <%= ingredient.fancy_package_unit %></strong></td>
        <td><%= ingredient.total_price.round(2) %>€</td>
        <td>
          <%= link_to edit_ingredient_path(ingredient) do %>
            <i class="far fa-edit"></i>
          <% end %>
          <% if ingredient.recipes.count.zero? %>
            <%= link_to ingredient, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="far fa-trash"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to shop_ingredient_path(ingredient) do %>
            <% if ingredient.added_to_cart %>
              <i class="fas fa-shopping-cart"></i>
            <% else %>
              <i class="fas fa-cart-plus"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="table d-block d-sm-none">
  <h1>Einkaufsliste</h1>
</div>

<table class="table d-block d-sm-none">
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr class="<%= ingredient.added_to_cart ? 'on-shopping-list' : '' %>">
        <td>
          <%= link_to shop_ingredient_path(ingredient) do %>
            <% if ingredient.added_to_cart %>
              <i class="fas fa-shopping-cart"></i>
            <% else %>
              <i class="fas fa-cart-plus"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= ingredient.title %>:
          <strong><%= ingredient.package_count %> <%= ingredient.fancy_package_unit %></strong>
        </td>
        <td>
          <%= link_to edit_ingredient_path(ingredient) do %>
            <i class="far fa-edit"></i>
          <% end %>
          <% if ingredient.recipes.count.zero? %>
            <%= link_to ingredient, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="far fa-trash"></i>
            <% end %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col">
    <ul>
    <li>Gesamtpreis: <%= @ingredients.sum(&:total_price) %>€</li>
    <% @ingredients.group_by(&:location).each do |location, ingredients| %>
      <li><%= location %>: <%= ingredients.sum(&:total_price) %>€</li>
    <% end %>
  </div>
  </ul>
</div>

<%= link_to 'Neue Zutat', new_ingredient_path, class: "btn btn-primary" %>
