<p style="color: green"><%= notice %></p>

<div style="text-align: center;">
  <%= link_to "Neues Projekt anlegen", new_project_path, class: "btn btn-primary" %>
</div>

<br>

<div id="projects">
  <% @projects.each do |project| %>
    <div class= "tile <%= current_project(project.id) %>">
      <%= link_to project do %>
        <div>
          <%= project.title %>
        </div>
        <% if current_project(project.id) == "active" %>
          <div><i class="fas fa-check"></i></div>
        <% end %>
      <% end %>
      <div>
        <%= link_to "", edit_project_path(project), class: "edit fas fa-edit" %>
      </div>
    </div>
  <% end %>
</div>
