<p id="notice"><%= notice %></p>

<h1>Gerichte</h1>

<table class="table d-none d-sm-block">
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Name</th>
      <th>Anzahl/Woche</th>
      <th>Zutaten</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.group_by(&:meal_type).each do |group, meals| %>
      <tr>
        <td colspan="6"><strong><%= I18n.t(group) %></strong></td>
      </tr>

      <% meals.each_with_index do |meal, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= meal.title %></td>
          <td><%= meal.amount %></td>
          <td><%= meal.recipes.count %></td>
          <td><span title="<%= meal.state.humanize %>" class="badge <%= meal.complete? ? 'badge-success' : 'badge-warning' %>">&nbsp;</span> </td>
          <td>
            <%= link_to meal do %><i class="far fa-eye"></i><% end %>
            <%= link_to edit_meal_path(meal) do %><i class="far fa-edit"></i><% end %>
            <% if meal.recipes.count.zero? %>
              <%= link_to meal, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="far fa-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class="table d-block d-sm-none">
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.group_by(&:meal_type).each do |group, meals| %>
      <tr>
        <td colspan="4"><strong><%= I18n.t(group) %></strong></td>
      </tr>

      <% meals.each_with_index do |meal, index| %>
        <tr>
          <td>
            <span title="<%= meal.state.humanize %>" class="badge <%= meal.complete? ? 'badge-success' : 'badge-warning' %>">&nbsp;</span>
          </td>
          <td><%= meal.title %></td>
          <td>
            <%= link_to meal do %><i class="far fa-eye"></i><% end %>
            <%= link_to edit_meal_path(meal) do %><i class="far fa-edit"></i><% end %>
            <% if meal.recipes.count.zero? %>
              <%= link_to meal, data: { method: :delete, confirm: 'Are you sure?' } do %>
                <i class="far fa-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Gericht', new_meal_path, class: "btn btn-primary" %>
