<p id="notice"><%= notice %></p>

<h1>Gerichte</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Name</th>
      <th>Häufigkeit pro Woche</th>
      <th>Zutaten</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.group_by(&:meal_type).each do |group, meals| %>
      <tr>
        <td colspan="7"><strong><%= I18n.t(group) %></strong></td>
      </tr>

      <% meals.each_with_index do |meal, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= meal.title %></td>
          <td><%= meal.amount %></td>
          <td><%= meal.recipes.count %></td>
          <td><span title="<%= meal.state.humanize %>" class="badge <%= meal.complete? ? 'badge-success' : 'badge-warning' %>">&nbsp;</span> </td>
          <td><%= link_to 'Show', meal %></td>
          <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
          <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Gericht', new_meal_path, class: "btn btn-primary" %>
