<%= form_for(Setting.new, url: admin_settings_path) do |f| %>
  <div class="form-group">
    <label class="control-label">Erwachsene</label>
    <%= f.text_field :adults, value: Setting.adults, class: "form-control"  %>
  </div>

  <div class="form-group">
    <label class="control-label">Jugendliche</label>
    <%= f.text_field :teens, value: Setting.teens, class: "form-control"  %>
  </div>

  <div class="form-group">
    <label class="control-label">Kinder</label>
    <%= f.text_field :children, value: Setting.children, class: "form-control"  %>
  </div>

  <div>
    <%= f.submit 'Update Settings' %>
  </div>
<% end %>
